body {
    background-color:#f2f2f2!important
}

/* Navabar */

.navbar {
    background-color: #f2f2f2!important;
}

/* Section jumbotron */

.jumbotron {
    margin: 0px;
    background-color: #ffffff;
}

/* Section footer */

footer {
    background-color: #454d54!important;
}

/* Button Read more / jquery */

.moreInformationOl{
    display: none;
}

.moreInformationOs{
    display: none;
}

.moreInformationEs{
    display: none;
}

.moreInformationNy{
    display: none;
}

/* Media query */

@media only screen and (min-width: 576px) {
    .test {
        background-color: green;
    }
}

@media only screen and (min-width: 768px) {
    .test {
        background-color: red;
    }
}


@media only screen and (min-width: 992px) {
    .test {
        background-color: yellow;
    }

}

@media only screen and (min-width: 1200px) {
    .test {
        background-color: orange;
    }
}