body {
    background-color:#f2f2f2!important
}

/* Navabar */

.navbar {
    background-color: #f2f2f2!important;
}

.navDdBorderButtom {
    border-bottom: solid 1px black;
}

.dropdown-item {
    padding: .25rem .5rem;
}

/* offset for ID Links class of offset must be after all IDs*/
.offset:before { 
    display: block; 
    content: " "; 
    height: 59px;      /* Give height of your fixed element */
    margin-top: -59px; /* Give negative margin of your fixed element */   
    visibility: hidden; 
}


/* Section jumbotron */

.jumbotron {
    margin: 0px;
    background-color: #ffffff;
}

.border-buttom {
    border-bottom: solid 1px black;
    padding-bottom: 20px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.rahmen {

}

.textfeld{
    height: 200px;
    
    background-color: grey;
}

.moreTravelFrame{
   border: solid 2px red;

}

.travelStoryHide{
     display: none; 
}

.travelStoryShow{
    display: inline;
} 

.testTravel{
    margin-bottom: 20px;
}

/* Section footer */

footer {
    background-color: #454d54!important;
}

/* Button Read more / jquery */

.moreInformationOl{
    display: none;
}

.moreInformationOs{
    display: none;
}

.moreInformationEs{
    display: none;
}

.moreInformationNy{
    display: none;
}

.pro_img {
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 150px;
    width: auto;
    max-height: 200px;
    -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

.pro_img_2 {
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 160px;
    width: auto;
    max-height: 200px;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 88%, 75% 88%, 75% 100%, 50% 88%, 0 88%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 88%, 75% 88%, 75% 100%, 50% 88%, 0 88%);
}

.pro_img_Travel {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 160px;
    width: auto;
    max-height: 200px;
    /*TEST FOR PICTURE WITH CAMERA STYLE!*/
    /*clip-path: polygon(0% 100%, 100% 100%, 100% 25%, 75% 25%, 65% 10%, 45% 10%, 35% 25%, 15% 25%, 15% 15%, 5% 15%, 5% 25%, 0% 25%, 0% 60%, 30% 60%, 30% 40%, 50% 40%, 70% 40%, 70% 60%, 70% 80%, 50% 80%, 30% 80%, 30% 60%, 35% 60%, 35% 45%, 50% 45%, 65% 45%, 65% 60%, 65% 75%, 50% 75%, 35% 75%, 35% 60%, 0% 60%);*/
}

.buttonTravel {
    width: 160px;
    height: auto;
    margin: auto;
}